@model IEnumerable<DoctorAppointment.Models.Doctor>

@{
    ViewData["Title"] = "Details";
}

    <h4 class="text-decoration-underline ">Search Result:</h4>
    @foreach (var item in Model)
    {
      <div> 
        <img src="@ViewBag.ImageUrl" alt="ZiekenHuis image" />
        </div>
    <div class="fw-bold">@item.Name</div>
    <div class="fw-bold">@item.Genre</div>
    <div class="fw-bold">@item.Email</div>
    <div class="fw-bold">@item.Phone</div>
    }
    <br>
   <div class="d-flex">
    <button class="bg-primary "><a asp-controller="Appointment" asp-action="Create" class="text-decoration-none text-white">Make An Appointment</a></button>
    <button class="bg-primary "><a asp-controller="Home" asp-action="Index" class="text-decoration-none text-white">Back Home</a></button>
   </div>
   
