@model IEnumerable<DoctorAppointment.ViewModels.AppointmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<html>
<body class="bg-success bg-opacity-25">
    <h1 class="text-center">Appointment List</h1>

    <p>
        <button class="float-end" style="margin-right:10%;background-color:forestgreen"><a asp-action="Create" class="text-light text-decoration-none">Make New Appointment</a></button>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
               Description
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Doctor
            </th>
            <th>
                Patient
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
          
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bookeddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
                    <td>
                        <button class="bg-primary"><a asp-action="Edit" asp-route-id="@item.Id" style="color:white" />Edit</button>
                        <button class="text-white" style="background-color:darkblue"><a asp-action="Details" asp-route-id="@item.Id" style="color:white" />Details</button>
                        <button class="bg-danger"><a asp-action="Delete" asp-route-id="@item.Id" style="color:white" />Delete</button>
                    </td>
        </tr>
            
       
}
    </tbody>
</table>
</body>
</html>
