@model IEnumerable<DoctorAppointment.Models.Department>

@{
    ViewData["Title"] = "Index";
}
<html>
 <body class="bg-success bg-opacity-50">
<h1 class="text-center">Department List</h1>

<p>
		<button class="bg-primary float-end" style="margin-right:10%"><a asp-action="Create"class="text-light text-decoration-none">Add Department</a></button>
	</p>
<table class="table fw-bold">
    <thead class="text-black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.HospitalInfo.Name)
            </td>

                <td>
                    <button class="bg-primary"><a asp-action="Edit" asp-route-id="@item.Id" style="color:white" />Edit</button>
                    <button class="bg-info"><a asp-action="Details" asp-route-id="@item.Id" style="color:white" />Details</button>
                    <button class="bg-danger"><a asp-action="Delete" asp-route-id="@item.Id" style="color:white" />Delete</button>
                </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
