@model IEnumerable<DoctorAppointment.Models.DateSlot>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-left:10%">DateSlot List</h1>

<p>
    <button class="float-end" style="background-color:green"><a asp-controller="DateSlots" asp-action="Create" class="text-white text-decoration-none">Add New DateSlot</a></button>
</p>
<table class="table" style="margin-left:10%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDay)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableDay)
            </td>
            <td></td>
                <td >
                    <button class="bg-primary"><a asp-action="Edit" asp-route-id="@item.Id" style="color:white" />Edit</button>
                    <button style="background-color:forestgreen"><a asp-action="Details" asp-route-id="@item.Id" style="color:white" />Details</button>
                    <button class="bg-danger"><a asp-action="Delete" asp-route-id="@item.Id" style="color:white" />Delete</button>
                </td>
        </tr>
}
    </tbody>
</table>
