
@model IEnumerable<DoctorAppointment.Models.Doctor>

@{
    ViewData["Title"] = "DoctorsInDetails";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:
                                                                  300,300i,400,400i,500,500i,600,600i,700,700i|
                                                                  Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
                                                                  rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
  </head>

<body class="bg-dark bg-opacity-25">
	<div class=" text-center"><h1 class="text-dark m-2">Doctors</h1></div>
	<div>
		@if (User.IsInRole("Admin"))
		{
			<a asp-controller="Doctor" asp-action="Index" class="text-decoration-none fw-bold">Back to List</a>
		}
		else
		{
			<button class="float-end" style="background-color:green"><a asp-controller="Home" asp-action="Index" class="text-white text-decoration-none ">Back To Home Page</a></button>

		}
	</div>
	<br>
    <div class="row" style="margin-left:20%">
        
			@foreach (var item in Model)
			{
                <div class="bg-black m-3 col-5 d-flex">
					<div class="d-block" >
						<img src="/images/@item.UrlToPicture"style="width:150px;height:150px;margin-top:15%" />
				    </div>
				 <div class=" text-white" style="margin-left:5px">
					<h3>@item.Name</h3>
                    <br>
                    @item.Department.Name
                    <br>
                    @item.Email
                    <br>
                    @item.Phone
                    <br>
                    <br>
					<button class="text-center bg-opacity-50" style="height:30px;background-color:darkblue">
						<a asp-controller="Appointment" asp-action="Create" asp-route-id="@item.Id"
						   class="text-light text-decoration-none">Make an Appointment</a>
					</button>
				 </div>
                </div>              
			}
        </div>	 
</body>
</html>



