
@model IEnumerable<DoctorAppointment.Models.Doctor>

@{
    ViewData["Title"] = "DoctorsInDetails";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:
                                                                  300,300i,400,400i,500,500i,600,600i,700,700i|
                                                                  Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
                                                                  rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/css/site.css" rel="stylesheet">
  </head>

 <body >
         <h1 class="text-danger m-5">Doctors_Details</h1>
         <div class=" row">
             <div class="col-3 m-2 text-decoration-underline fw-bold">Doctor Name</div>
        <div class="col-3 text-decoration-underline fw-bold">Department Name</div>

         </div>
   <div>
    @foreach (var item in Model)
    {
        

        <div class="m-2 w-100 d-block">           
			<button class="bg-dark bg-opacity-50 w-25 h-25 text-center" style="margin:5px"><a asp-action="Details" asp-route-id="@item.Id" 
                style="color:white" />@item.Name------></button>
              
                    <a asp-route-id="@item.DepartmentId"
                     style="color:darkblue" class=" text-decoration-none"/>@item.Department.Name
               

        </div>
            @*<div class="form-group">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Department)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Department.Name)
                </dd>
            </div>*@
    }
   </div>
   <br>
   @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Doctor" asp-action="Index" class="text-decoration-none fw-bold">Back to List</a>
    }
    else
    {
        <button class="bg-primary m-5"><a asp-controller="Home" asp-action="Index" class="text-decoration-none text-white">Back Home</a></button>

    }
    
</body>
</html>



